/**
## General styles
This stuff can be ported from experiment to experiment.*/

/** We want the page to sit flush inside the browser window - that means no margins or padding. Also, use a nice-looking serif font. */

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-family: Palatino Linotype, Bookman Antiqua, Palatino, serif;
    font-size: 16px;
    line-height: 20px;
    /*text-align:center;*/
}


/** We manage display using "slides". A slide is a <code>div</code> that takes up the entire page. Only one slide should be visible at a time. */
.slide {
    overflow-x: hidden;
    width: 95%;
    height: 95%;
    display: none;
    position: absolute;
    margin: 0 auto;
    margin-left: 0.5%;
    padding: 1% 2% 1% 2%;
}

#objects {
    position: relative;
    display: table;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: black;
}

.cells {
    display: table-cell;
    text-align: center;
}

.cdiv {
    display: inline-block;
    text-align: center;
    width: 400px;
    height: 200px;
    border : 10px solid white;
    background-color: white;
}

.filler {
    display: inline-block;
    text-align: center;
    width: 50px;
    height: 250px;
    background-color: black;
}


.selectedDiv {
    display: inline-block;
    text-align: center;
    width: 400px;
    height: 200px;
    border : 10px solid red;
    background-color: white;
}

.row {
    height: 200px;
    display: table-row;
    z-index: 30;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}

.pic {
    height: 200px;
    display: table-cell;
    z-index: 30;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}

.item {
    height: 200px;
    display: none;
    z-index: 40;
    margin-right: 0;
    margin-left: 0;
    margin-top: 10px;
}

input, select, button {font-family: Georgia, serif; font-size: 20px;}

button {
    background: url(images/button-gradient.png); 
    border: 1px solid #999;
    border-top: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    margin: 10px;
    padding-left: 5px;
    padding-right: 5px;
    height: 30px;
    min-width: 50px;
}


#sentenceText {
  font-size: 1.5em;
  color: white;
}

#promptText {
  font-size: 1.5em;
  color: white;
}

#logo-text {
    font-weight: bold;
}

#instructions {
    text-align: center;
}

.block-text {
  width: 500px;
  text-align: justify;
  margin: 0 auto;
  margin-bottom: 1em;
}

#legal {
    margin: 0 auto;
    margin-top: 1.5em;
    font-size: 0.8em;
}
